
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}


nav{
    float: right;

}
.icone{
    margin-top: 15px;
    height: 17px;

}

.main{
    width: 60%;
    margin: 0 auto;
    padding-top: 120px;


}
.center{
    text-align: center;
    padding-bottom: 20%;

}
.image{
    width: 70%;
}
.bar-rech{
    width: 95%;
    height: 30px;
    margin-bottom: 50px;

}
.envoye{
    margin-bottom: 20px;
    justify-content: space-between;


}
.search{
    height: 50%;
    justify-content: left;
}
.luck{
    height: 50%;
    justify-content: right;
}
footer{
    background-color: gray;
    padding: 7px;
    margin-top: 22%;

}
.option{
    display: flex;
    justify-content: space-between;
}
.pays{
    margin: 10px;
    border-bottom: 1px solid black;
}
.gauche a{
    margin: 10px;
   

}
.droite a{
    margin: 10px;
    
  
   
    
}

    






    
    
    


